[submodule "LinguisticKit"]
	path = LinguisticKit
	url = https://github.com/Roman-Kerimov/LinguisticKit.git
[submodule "Calculator"]
	path = Calculator
	url = https://github.com/Roman-Kerimov/Calculator.git
